## Simple Notebook
First notebook on AWS - Experimenatal 
UCI - Heart Disease data set

In [15]:
import pandas as pd 
import sys

# Environment

In [16]:
print("Python Version: ", sys.version)
print("Pandas Version: ", pd.__version__)

Python Version:  3.10.13 (main, May 30 2024, 20:38:07) [GCC 9.4.0]
Pandas Version:  2.2.2

In [17]:
colNames = ["age", "sex_male", "chest_pain", "rest_bp", "chol", "fasting_blood_sugar>120", "rest_ecg", "max_heart_rate", "exercise_angina", "oldpeak", "slope", "ca", "thal", "heart_disease"]

In [18]:
fileIn = "/workspaces/LLM_Stuff/notebooks/data/heart_disease/processed.cleveland.data"
df1 = pd.read_csv(fileIn, names=colNames, header=None)

In [19]:
df1["local"] = "cleveland"
df1.head()

,age,sex_male,chest_pain,rest_bp,chol,fasting_blood_sugar>120,rest_ecg,max_heart_rate,exercise_angina,oldpeak,slope,ca,thal,heart_disease,local
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0,cleveland
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2,cleveland
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1,cleveland
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0,cleveland
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0,cleveland

In [20]:
fileIn = "/workspaces/LLM_Stuff/notebooks/data/heart_disease/processed.hungarian.data"
df2 = pd.read_csv(fileIn, names=colNames, header=None)
df2["local"] = "hungary"
df2.head()

,age,sex_male,chest_pain,rest_bp,chol,fasting_blood_sugar>120,rest_ecg,max_heart_rate,exercise_angina,oldpeak,slope,ca,thal,heart_disease,local
0,28,1,2,130,132,0,2,185,0,0.0,?,?,?,0,hungary
1,29,1,2,120,243,0,0,160,0,0.0,?,?,?,0,hungary
2,29,1,2,140,?,0,0,170,0,0.0,?,?,?,0,hungary
3,30,0,1,170,237,0,1,170,0,0.0,?,?,6,0,hungary
4,31,0,2,100,219,0,1,150,0,0.0,?,?,?,0,hungary

In [21]:
fileIn = "/workspaces/LLM_Stuff/notebooks/data/heart_disease/processed.switzerland.data"
df3 = pd.read_csv(fileIn, names=colNames, header=None)
df3["local"] = "Switzerland"
df3.head()

,age,sex_male,chest_pain,rest_bp,chol,fasting_blood_sugar>120,rest_ecg,max_heart_rate,exercise_angina,oldpeak,slope,ca,thal,heart_disease,local
0,32,1,1,95,0,?,0,127,0,.7,1,?,?,1,Switzerland
1,34,1,4,115,0,?,?,154,0,.2,1,?,?,1,Switzerland
2,35,1,4,?,0,?,0,130,1,?,?,?,7,3,Switzerland
3,36,1,4,110,0,?,0,125,1,1,2,?,6,1,Switzerland
4,38,0,4,105,0,?,0,166,0,2.8,1,?,?,2,Switzerland

In [22]:
fileIn = "/workspaces/LLM_Stuff/notebooks/data/heart_disease/processed.va.data"
df4 = pd.read_csv(fileIn, names=colNames, header=None)
df4["local"] = "virgina"
df4.head()

,age,sex_male,chest_pain,rest_bp,chol,fasting_blood_sugar>120,rest_ecg,max_heart_rate,exercise_angina,oldpeak,slope,ca,thal,heart_disease,local
0,63,1,4,140,260,0,1,112,1,3,2,?,?,2,virgina
1,44,1,4,130,209,0,1,127,0,0,?,?,?,0,virgina
2,60,1,4,132,218,0,1,140,1,1.5,3,?,?,2,virgina
3,55,1,4,142,228,0,1,149,1,2.5,1,?,?,1,virgina
4,66,1,3,110,213,1,2,99,1,1.3,2,?,?,0,virgina

In [23]:
frames = [df1, df2, df3, df4]
df = pd.concat(frames)
df.head()

,age,sex_male,chest_pain,rest_bp,chol,fasting_blood_sugar>120,rest_ecg,max_heart_rate,exercise_angina,oldpeak,slope,ca,thal,heart_disease,local
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0,cleveland
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2,cleveland
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1,cleveland
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0,cleveland
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0,cleveland

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 920 entries, 0 to 199
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      920 non-null    float64
 1   sex_male                 920 non-null    float64
 2   chest_pain               920 non-null    float64
 3   rest_bp                  920 non-null    object
 4   chol                     920 non-null    object
 5   fasting_blood_sugar>120  920 non-null    object
 6   rest_ecg                 920 non-null    object
 7   max_heart_rate           920 non-null    object
 8   exercise_angina          920 non-null    object
 9   oldpeak                  920 non-null    object
 10  slope                    920 non-null    object
 11  ca                       920 non-null    object
 12  thal                     920 non-null    object
 13  heart_disease            920 non-null    int64
 14  local                    920 non-null    object
dtypes: float64(3), int64(1), object(11)
memory usage: 115.0+ KB

In [32]:
df.head()

,age,sex_male,chest_pain,rest_bp,chol,fasting_blood_sugar>120,rest_ecg,max_heart_rate,exercise_angina,oldpeak,slope,ca,thal,heart_disease,local
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0,cleveland
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2,cleveland
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1,cleveland
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0,cleveland
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0,cleveland

In [33]:
df['sex_male'].replace({0.0: 0, 1.0: 1}, inplace=True)

In [34]:
df.head()

,age,sex_male,chest_pain,rest_bp,chol,fasting_blood_sugar>120,rest_ecg,max_heart_rate,exercise_angina,oldpeak,slope,ca,thal,heart_disease,local
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0,cleveland
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2,cleveland
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1,cleveland
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0,cleveland
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0,cleveland

In [37]:
df.sex_male = df.sex_male.astype(int)

In [38]:
df.head()

,age,sex_male,chest_pain,rest_bp,chol,fasting_blood_sugar>120,rest_ecg,max_heart_rate,exercise_angina,oldpeak,slope,ca,thal,heart_disease,local
0,63.0,1,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0,cleveland
1,67.0,1,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2,cleveland
2,67.0,1,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1,cleveland
3,37.0,1,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0,cleveland
4,41.0,0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0,cleveland

In [39]:
df.sex_male = df.sex_male.astype(bool)

In [40]:
df.head()

,age,sex_male,chest_pain,rest_bp,chol,fasting_blood_sugar>120,rest_ecg,max_heart_rate,exercise_angina,oldpeak,slope,ca,thal,heart_disease,local
0,63.0,True,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0,cleveland
1,67.0,True,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2,cleveland
2,67.0,True,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1,cleveland
3,37.0,True,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0,cleveland
4,41.0,False,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0,cleveland

In [30]:
df['sex_male'] = df['sex'].apply(str).replace('1.0', 1).replace('0.0', 2).astype('bool')

KeyError: 'sex'

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df['chest_pain'] = df['chest_pain'].apply(str).replace('1.0', 'typlical').replace('2.0', 'atypical').replace('3.0', 'non-anginal').replace('4.0', 'asymptomatic').astype('category')

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
df['rest_bp'] = df['rest_bp'].replace('?', 0).astype('int')
df.info()
df.head()

In [ ]:
df['chol'] = df['chol'].replace('?', 0).astype('int')
df.info()
df.head()

In [ ]:
df['age'] = df['age'].replace('?', 0).astype('int')
df.info()
df.head()

In [ ]:
df['rest_ecg'] = df['rest_ecg'].replace(0.0, 'Normal').replace(1.0, 'abnromal').replace(2.0, 'LVH').astype('category')
df.info()
df.head()

In [ ]:
df['fasting_blood_sugar>120'] = df['fasting_blood_sugar>120'].replace(1.0, 'True').replace(0.0, 'false').astype('category')
df.info()
df.head()

In [ ]:
df['max_heart_rate'] = df['max_heart_rate'].replace('?', 0).astype('int')
df.info()
df.head()

In [ ]:
df['exercise_angina'] = df['exercise_angina'].replace(1.0, 'True').replace(0.0, 'false').astype('category')
df.info()
df.head()

In [ ]:
df['oldpeak'] = df['oldpeak'].replace('?', 0).astype('float')
df.info()
df.head()

In [ ]:
df['slope'] = df['slope'].replace('?', 0).astype('float')
df.info()
df.head()

In [ ]:
df['ca'] = df['ca'].replace('?', 0.0).astype('float')
df['ca'] = df['ca'].astype('int')
df.info()
df.head()

In [ ]:
df['thal'] = df['thal'].replace('3.0', 'Normal').replace('6.0', 'Fixed').replace('7.0', 'Defective').astype('category')
df.info()
df.head()

In [ ]:
def fix_target_2(score):
    if score > 0.5:
        return 'False'
    else:
        return 'True'

In [ ]:
# Apply the fix_targe function to the heart_disease column
df['target'] = df['heart_disease'].apply(fix_target_2)
df.info()
df.head()

In [ ]:
df['local'] = df['local'].replace(1, 'Cleveland').replace(2, 'Hungary').replace(3, 'Switzerland').replace(4, 'Virgina').astype('category')
df.info()
df.head()

In [ ]:
import pickle

In [ ]:
fileOut = "./Heart_Disease/sample_heart_data.pkl"
df.to_pickle(fileOut)